*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 15em;
    min-width: auto;
    border-radius: 50%;
    padding: 1em; 
    margin: 2em;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1em;
}header a{color: white;}

.sobre{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    font-size: 1.5em;
}
.container{
    padding: 4em;
}

p{
    max-width: 50em;
    line-height: 1.5em;
    text-align: justify;   
}

.listas{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

ol, ul{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}
.subtitle:first-child{
    text-align: end;
}

li{
    background-color: grey;
    color: white;
    border-radius: 10%;
    text-align: center;
    width: 100px;
    height: 150px;
    display: flex;
    margin:10px;
    padding: 5px;
    flex-direction: column;
    justify-content: flex-end;

}
.minicard{
    background-color: black;
    color: white;
    width: 1em;
    height: 1.5em;
    border-radius: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 5px;
}  


.icons{
    background-color: white;
    color: black;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 50% ; 
    transition: background-color 0.5s ease-in-out;
}

.icons:hover{
    background-color: aqua;
}

footer{
    background-color: black;
    color: white;
    padding: 14px;
}
footer a{
    color: white;
}
.botão{
    background-color: aqua;
    height: 32px;
    border-radius: 5%;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
}
